* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

main {
    background-color: bisque;
    text-align: center;
    padding: 30px;
    height: 150vh;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    padding-bottom: 15px;
}